.card {
  max-width: 300px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


#next {
  position: relative;
  left: 68vw;
  top: 0vh;
  width: 10vw;
}

#prev {
  position: relative;
  left: 11vw;
  bottom: 0vh;
  width: 10vw;
}

#name::first-letter {
 text-transform: uppercase;
}

#img {
  min-width: 150px;
  max-width: 175px;
}

#num {
  font-size: 1.5vw;
  font-weight: 500;
}



