#name::first-letter {
    text-transform: uppercase;
   }

   #head {
    text-align: center;
    padding: 12px;
    align-items: center;
  }
  
  #name {
      font-size: 1.9vw;
  }

  #body {
    padding: 12px;
    font-size: 1.5vw;
  }

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#img {
    width: 300px;
    height: auto;
}

@media only screen and (max-width: 767px) {
    .content {
      display: block;
    }
  }