<a [routerLink]="['/']">
  <img src="/assets/img/pokedexlogo.jpg">
</a>

<!-- <div *ngIf="types" class="advsearch">
  <mat-form-field>
    <mat-label>Search Pokemon by Type</mat-label>
    <mat-select [(value)]="chosen" (selectionChange)="loadType()">
      <mat-option value="">NONE</mat-option>
      <mat-option *ngFor="let type of types.results" value="{{type.url}}">
         {{ type.name | uppercase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->

<form class="search-form">
  <mat-form-field class="search-field">
      <input matInput placeholder="Search Pokemon..." [formControl]="searchTerm" (ngModelChange)=loadSearch()>
  </mat-form-field>
</form>

