.search-form {
    min-width: 150px;
    max-width: 300px;
    height: 100%;
    width: 100%;
  }
  
  .search-field {
    width: 20vw;
    font-size: 1.65vw;
    font-weight: 800;
    bottom: 1vh;
  }